{:paths ["src" "test"]
 :deps {org.clojure/clojure {:mvn/version "1.12.3"}
        org.clojure/clojurescript {:mvn/version "1.12.42"}
        ;funcool/promesa {:mvn/version "11.0.678"} ; stack-overflow
        funcool/promesa {:mvn/version "11.0.664"} ; tack-overflow
        ; funcool/promesa {:mvn/version "10.0.594"} ; works fine
        ;funcool/promesa {:mvn/version "9.0.471"} ; works fine
        thheller/shadow-cljs {:mvn/version "3.2.1"}}}
